{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko-kr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>싸요(SALE for YOU)</title>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

 

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
       
           <div class="intro-lead-in">입력하신 핸드폰 번호와 ID !</div>
                  <div class="intro-heading text-uppercase">
                    {% block content %}
                    
                     {% endblock %}
                  </div>
          
        
        </div>
      </div>
    </header>

 <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">코스 중간에 들릴 만한 관광지 소개</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/01-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>심우장</h4></br>
              <p class="text-muted">만해 한용운의 한과 넋이 깃든 한옥.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/02-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>길상사</h4></br>
              <p class="text-muted">고급 요정에서 도심 속 도랑으로 '환골탈태'</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/03-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>수연산방</h4></br>
              <p class="text-muted">소설가 이태준의 고택이 전통 찻집으로</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/04-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>간송미술관</h4></br>
              <p class="text-muted">우리나라 최초의 사립 미술관</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/05-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>최순우 옛집</h4></br>
              <p class="text-muted">시민의 힘으로 복원한 '시만문화유산 1호'</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/06-thumbnail1.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>성락원</h4></br>
              <p class="text-muted">서울 성북구 선잠로2길 47</p>
            </div>
          </div>
        </div>
      </div>
    </section>

   
    

   
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2018</span>
          </div>
          <div class="col-md-4">
            <!--<ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>-->
          <div class="col-md-4">
           <!-- <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">심우장</h2>
                  <p class="item-intro text-muted">서울 성북구 성북로29길 24</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/01-full1.jpg' %}" alt="">
                  <p>일제강점기인 1933년에 만해 한용운이 지은 집. 
심우장은 한옥에서는 흔히 볼 수 없는 북향집인데, 독립 운동가였던 그가 남향으로 터를 잡으면 조선총독부와 마주보게 되므로 이를 거부하고 집을 북향으로 지었기 때문이다. 이처럼 일제에 저항하는 삶으로 일관했던 한용운은 끝내 조국의 광복을 보지 못하고 이곳에서 생을 마감했다. 지금도 한용운이 쓰던 방에는 그의 글씨, 연구논집, 옥중공판기록 등이 그대로 보존되어 있다. 심우장이란 명칭은 선종에서 말하는 '자기의 본성인 소를 찾는다.'는 심우에서 유래한 것이다. 왼쪽에 걸린 현판은 한용운과 함께 독립운동을 했던 서예가 오세창이 쓴 것이다.</p>
                 
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">길상사</h2>
                  <p class="item-intro text-muted">서울특별시 성북구 선잠로5길 68</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/02-full1.jpg' %}" alt="">
                  <p>길상사는 1960년대부터 1980년대 말까지 삼청각, 청운각고 함께 최고급 요정의 하나였던 대원각에 자리에 세워졌다. 
성북동 깊숙한 산자락의 대원각 주인이었던 고(故) 김영한 여사가 7천여 평 대지와 건물 40여 동의 부동산을 법정 스님에게 시주해 길상사로 탈바꿈하게 되었다. 김여사의 유해 또한 화장장으로 이곳에 뿌려져있다. 
1997년에 길상사 개원법회를 봉행하였고, 이듬해 일반인을 대상으로 불교의 경전과 수행법을 좀 더 알기 쉽게 체험하는 시민선방 '길상선원'을 개원했다. 길상사는 외국인 관광객들이 한국의 사찰을 돌아보는데 필수 코스로 자리 잡았다. 
또한 불도 체험, 수련회 등의 프로그램과 고사리 손의 미술대회, 대중가수의 콘서트까지 개최하는 등 도심 속 문화공간의 역살을 톡톡히 하고있다.
특히 '맑고 향기롭게'의 근본 도량으로서 건강한 사회를 위한 사회 참여 프로그램을 운영하여 한국 사회에 큰 반향을 불러일으키고 있다. 길상사에는 두 분의 부처가 모셔져 있다. 
먼저 소법당에 모셔진 부처는 1997년 조성되어 길상사의 창건을 지켜보았는데, 온화한 미소가 특히 수려하다.
2000년 8월에는 또 다른 부처가 모셔졌다. 창건 3주년에 길상사의 터가 청정한 도량으로 부족함이 없다는 판단 아래 설법전에 불단을 마련한 것이다. 이밖에 관세음보살, 지장보살 등이 있다.</p>
                 
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">수연산방</h2>
                  <p class="item-intro text-muted">서울 성북구 성북로26길 8</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/03-full1.jpg' %}" alt="">
                  <p>국내에서 처음으로 한옥을 개조해 문을 연 전통 찻집. 수연산방은 <문장강화>와 <무서록>을 쓴 상허 이태준의 고택을 손녀가 찻집으로 낸 곳이다. 시간의 흐름에서 벗어난 듯 온전히 쉴 수 있는 여유가 묻어나 있다. 집의 규모가 작아 많은 손님이 찾을 수 없는 게 아쉽지만, 본채에는 사랑방, 안방, 마루까지 모두 6개의 테이블이 마련되어 있다. 라일락 나무 아래의 둥그런 벤치와 테이블이 운치를 더한다. 가장 인기 있는 자리는 사랑방의 바깥쪽 자리. 원래 방 높이보다 한 단 정도 높게 되어 있고 문에는 한지 대신 유리를 끼워 밖이 잘 보이게 했다. 여기 앉아 있으면 담장 너머로 북악산 자락이 건너 보인다. 전통 차와 함께 옛 선인들의 정취를 느끼며 조용한 휴식을 즐길 수 있다.</p>
                 
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">간송미술관</h2>
                  <p class="item-intro text-muted">서울 성북구 성북로 102-11</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/04-full1.jpg' %}" alt="">
                  <p> http://kansong.org/museum/museum_info/ </p>
                  
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">최순우 옛집</h2>
                  <p class="item-intro text-muted">서울시 성북구 성북2동 126-20</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/05-full1.jpg' %}" alt="">
                  <p>최순우 옛집은 故 혜곡 최순우 선생(1916~1984)이 1976년부터 작고할 때까지 살았던 고택이다. 이곳은 2002년 한국내셔널트러스트에서 시민 성금으로 매입한 시민문화유산 1호이다. 내셔널트러스트 문화유산기금에서 관리 운영하면서 2004년 일반에게 개방하였고, 2006년에는 박물관(서울시 등록 제 29호) 및 등록문화재(제 268호)로 지정되었다.
최순우 옛집은 1930년대 지어진 한옥으로 경기지방에서 많이 보이는 ‘ㄱ’자형 안채와 ‘ㄴ’자형 바깥채로 된 튼 ‘ㅁ’자 형 집이다. 선생의 손길이 곳곳에 담겨있는 아담한 안마당과 뒷마당에는 꾸미지 않은 한국미의 자연스러움이 담겨있다. 최순우 옛집 사랑방 위에는 선생의 친필이 담긴 ‘두문즉시심산(杜門卽是深山)’이라는 현판이 걸려있다. ‘문을 닫으면 곧 이곳이 깊은 산중이다’라는 의미로서 이 집에 대한 선생의 생각을 직접적으로 살펴볼 수 있다. 선생은 이곳에서『무량수전 배흘림기둥에 기대서서』,『나는 내것이 아름답다』와 같은 아름다운 글을 집필하였다. 
‘혜곡 최순우 기념관’으로 거듭난 최순우 옛집은 안채, 대청과 사랑방에 최순우 선생의 유품이 상설 전시되어 있고 4월~11월 시민들에게 무료로 개방된다. 봄과 가을에는 시민과 함께하는 문화예술교육프로그램과 특별 전시회를 개최하고 있다.
</p>
                
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">성락원</h2>
                  <p class="item-intro text-muted">서울 성북구 선잠로2길 47</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'bootstrap/img/portfolio/06-full1.jpg' %}" alt="">
                  <p>성락원은 서울에 남아 있는 몇 안 되는 조선시대 별장이다. 조선 철종 때 이조판서를 지낸 심상응의 별장이었고, 의친왕 이강이 35년간 별궁으로 사용했던 곳이기도 하다. 성락원은 물이 흐르는 경치에 따라 세 개의 공간을 나눌 수 있는데, 자연지형으로 전원, 내원, 후원으로 구성되어 있다. 전원에는 두 골짜기에서 흘러내린 물줄기가 하나로 합쳐지는 쌍류동천과 내원 앞을 막아 아늑하게 감싸 만든 용두가산이 있다. 물줄기 속 암벽에 행서체로 새긴 '쌍류동천'이란 글씨는 성락원의 지맥을 보호한다는 뜻도 있다. 용두가산에는 200~300년 된 엄나무를 비롯하여 느티나무, 소나무, 참나무, 단풍나무, 다래나무,

말채나무 등이 울창한 숲을 이루어 내원을 가려주는 역할을 하고 있다. 내원에는 본재누각, 영벽지, 폭포가 있다. 영벽지는 인공이 가해진 자연연못의 진수를 보여주며, 여기에 비치는 그림자가 공간의 깊이를 더해준다. 후원은 송석정과 연지도가 있는 곳으로, 자연의 아름다움을 음미할 수 있는 공간이다. 송석정의 노송은 지붕을 뚫고 서 있는데, 지붕 위에 나무그늘이 지는 것을 피해 왔던 오랜 관습을 타파하고 있다. 현재 서쪽 암벽에 '장빙가' 라고 새긴 추사 김정희가 쓴 것이다.</p>
                 
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/agency.min.js' %}"></script>

  </body>

</html>
