{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko-kr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>싸요(SALE for YOU)</title>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top"  style="background-color:#FFEDED;">

<header class="masthead">
    <div class="container-fluid" style="padding: 0px 0 0 0; text-align: center;color: white; background-image:url({% static '/bootstrap/img/background_top.png' %});  background-repeat: no-repeat;  background-attachment: scroll;  background-position: center center;  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;
  background-size: cover;">

        <div class="row">
            
            <div class="col-3">
               <a href="{% url 'home' %}">
               <img style="margin-right: 0; width:100px; padding: 0 0 1% 0; " src="{% static '/icon/타이틀.png' %}">
               </a>
            </div>

            <div class="col">
            </div>

            <div class="col">
                <a href="{% url 'coupon' %}">
                  <div style="background-image:url({% static '/icon/쿠폰함.png' %}); background-size:100% 100%; background-position:center center; height: 20px; width: 65px; margin-right:0; margin-left:auto; background-color:#ffffff; padding: 0 0 75px 0;" >
                    <span style="color:#732127; display:inline-block; font-size:20px; line-height: 1; text-align:center; font-weight: 1000; margin: 15% 0 0 0">{{count}}</span>
                  </div>
                </a>
               </div>
            <div class="col">
                <a href="{% url 'menu' %}">
                  <div style="background-image:url('{% static '/icon/메뉴2.png' %}'); background-size:100% 100%; background-position:left center; height: 20px; width: 65px; margin-right:0; margin-left:10px; background-color:#ffffff; padding: 0 0 75px 0;" >
                  </div>
                </a>
            </div>
        </div>        
    </div> 
           

    
    <hr style="display: block; height: 2px; border: 0;
    border-top: 3px solid #ccc;
    margin: -1px 1em 0; padding: 0 0 75px 0; "> 

    



      <div class="container">            
             <div>
               <div style="height: 150px ; background-image:url('../../static/icon/쿠폰.png'); background-size:100% 100%; margin: 0;" >
 
 <span style="color:#732127; position: absolute; font-size:14px; text-align: right; margin: 0 0 0 0%;"></br>{{coupon.sale.store.s_name}}</span>
</br></br>
 </br>  <span style="color:#732127;font-size:17px;  text-align:center; font-weight: 1000; margin: 0 0 0 -25%;">{{coupon.sale.text}}</span>

</br></br>
 <span style="color:#732127;font-size:11px; text-align:right; font-weight: 500; margin: 0 0 0 -50%;">사용기한: &nbsp;  {{coupon.sale.exp_date|date:"Y-m-d H"}}시 까지</span>
  <span style="color:#732127;font-size:11px; text-align:right; font-weight: 500; margin: 0 0 0 5%;"></span>
                  </div>
            </div>
      </div>

  
      <div class="intro-text" style="padding: 5% 0 7% 0;">
        <div class="row">
          <div class="col" style="color: #732127; padding: 0 0 7% 0;">
                *(주의)쿠폰 사용하기를 누르시면 쿠폰이 사라집니다.
          </div>
        </div>
      </div>
            <form id="person" action="{% url 'coupon_use' %}" method="post" name="puzzle_submit">

                <input type="hidden" name="coupon" value="{{coupon.id}}">
                    {% csrf_token %}
                <input class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color: #732127; border-style: solid; border-color: #732127; " type="submit" value="사용하기">
            </form>
                  </br></br></br></br></br></br> 
      <!-- Header -->

</header>

 

   

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/agency.min.js' %}"></script>

  </body>

</html>
