{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko-kr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>싸요(SALE for YOU)</title>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top"   style="background-color:#FFEDED;">
     
    <!-- Header -->
    <header class="masthead">
<div class="container-fluid" style="padding: 0px 0 0 0; text-align: center;
  color: white;
  background-image:url('../../static/bootstrap/img/background_top.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div class="row">
            <div class="col">
               <img style="width:100px;padding: 0 0 1% 0; " src="{% static '/icon/타이틀.png' %}">
            </div>
            <div class="col">
               
            </div>  
             <div class="col">
                 <a href="{% url 'menu' %}">
                  <div style="background-image:url('../../static/icon/메뉴2.png'); background-size:100% 100%; background-position:right center; height: 20px; width: 65px; margin-right:0; margin-left:10px; background-color:#ffffff; padding: 0 0 75px 0;" >
                  </div>
                </a>
            </div>  
        </div>

      


    </div> 
 <hr style="display: block; height: 2px; border: 0;
    border-top: 3px solid #ccc;
    margin: -1px 1em 0;
    padding: 0; "> 

      <div class="container">
        <div class="intro-text" style="padding: 5% 0px 0px 0px;">
            <img style="width: 40%; padding: 0 0 4% 0;" src="{% static '/icon/환영합니다.png' %}">
            <p style="color:#732127; margin: 0;">*기입한 정보들은 통계를 목적으로 수집됩니다.</p>
        </div>

        <div class="intro-text" style="padding: 5% 0px 0px 0px;">

        	<form id="puzzle_submit" action="{% url 'join' %}" method="post" name="puzzle_submit">
            {% csrf_token %}
          <input name="agency" type="hidden" value="{{agency}}">
          <input name="phone_number" type="hidden" value="{{phone_number}}">

          <style type="text/css">

 div > label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
div > label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
div > label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px solid #732127;
  border-radius:70%;
}
</style>
<div class="intro-lead-in"><img style="width:8%;" src="{% static '/icon/성별.png' %}"></div>   
<div>
<label>
    <input type="radio" name="gender" value="남" checked="True" />
    <img style="height: 60%; width: 60%;" src="{% static '/icon/man.png' %}">
  </label>
  
  <label>
    <input type="radio" name="gender" value="여"/>
    <img  style="height: 60%; width: 60%;" src="{% static '/icon/women.png' %}">
  </label>
</div>
       
          
  </br>
           <div class="intro-lead-in"><img style="width: 15%;" src="{% static '/icon/출생년도.png' %}"></div>
           <p style="color:#732127; padding: 0; margin: 0;"></p>
            <input type="text" name="birth_year" style="width: 25%;" placeholder=" ex) 1994 ">
           <div class="intro-heading text-uppercase">
           </div>
           
            <br><input id="join" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color: #732127;   border-style: solid;
    border-color: #732127;" type="submit" value="확인">
             </br></br></br></br></br></br>
        </form>
        </div>
      </div>
    </header>

 

   
    

   


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/agency.min.js' %}"></script>
<!--<script>
  $("#button1").click(function(){
    var phone_number = $('#phone_number').val()
    $.ajax
    ({ 
        url: 'idcheck',
        data: {
                "phone_number" : $('#phone_number').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
        type: 'post',
      success: function(response){ // 통신 성공시 - 동적으로 좋아요 갯수 변경, 유저 목록 변경
        alert("환영합니다!")
        post_goto('idcheck',phone_number,'phone_number')
      },
      error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
        alert("회원가입을 진행해 주세요.")
        $('#join').prop("disabled", false);
        //  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      },
    });
});

function post_goto(url, parm, key,target) {
  var f = document.createElement('form'); 

  var objs, value;
  
    value = parm
    objs = document.createElement('input');
    objs.setAttribute('type', 'hidden');
    objs.setAttribute('name', key);
    objs.setAttribute('value', value);
    f.appendChild(objs);

    objs2 = document.createElement('input');
    objs2.setAttribute('type', 'hidden');
    objs2.setAttribute('name', 'csrfmiddlewaretoken');
    objs2.setAttribute('value', '{{csrf_token}}');
    f.appendChild(objs2);
  
        
  if (target)
    f.setAttribute('target', target);

  f.setAttribute('method', 'post');
  f.setAttribute('action', url);
  document.body.appendChild(f);
  f.submit();
}
</script> -->

<script type="text/javascript">
  $(document).ready(function () 
{
    $("#join").one('click',function(){
        alert("SALE for YOU'에 오신 것을 환영합니다! :) \n sale for you 는 아주대학교 앞 상가들의 할인 정보를 모아 학우 여러분들에게 유용한 정보를 제공하는 서비스 입니다. \n 쿠폰 다운 후 미사용시에는 다른 이용자들이 불편을 겪을 수 있으니 신중하게 이용해주시면 감사하겠습니다 :)\n " );
    });
});
  

</script>


  </body>

</html>
