{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko-kr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>싸요(SALE for YOU)</title>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top"    style="background-color:#FFEDED;">
     
    <!-- Header -->
    <header class="masthead" style="height: 100%;">
<div class="container-fluid" style="padding: 0px 0 0 0; text-align: center;
  color: white;
  background-image:url('../../static/bootstrap/img/background_top.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div class="row">
            <div class="col">
               <img style="width:100px;padding: 0 0 1% 0; " src="{% static '/icon/타이틀.png' %}">
            </div>
            <div class="col">
               
            </div>  
             <div class="col">
                 <a href="{% url 'menu' %}">
                  <div style="background-image:url('../../static/icon/메뉴2.png'); background-size:100% 100%; background-position:right center; height: 20px; width: 65px; margin-right:0; margin-left:10px; background-color:#ffffff; padding: 0 0 75px 0;" >
                  </div>
                </a>
            </div>  
        </div>

     


    </div> 
 <hr style="display: block; height: 2px; border: 0;
    border-top: 3px solid #ccc;
    margin: -1px 1em 0;
    padding: 0; "> 

      <div class="container">
        <div class="intro-text" style="padding: 10% 0px 0px 0px;">
            <img style="width: 40%; padding: 0 0 4% 0;" src="{% static '/icon/환영합니다.png' %}">
            <p style="color:#732127;">할인 쿠폰 받으러오세요~!</p>
        </div>

        <div class="intro-text" style="padding: 10% 0px 10% 0px;">

          <form id="puzzle_submit" action="{% url 'idcheck' %}" method="post" name="puzzle_submit">
            {% csrf_token %}
           <div class="row">
            <div class="col-4">
              <img style="width: 45%; padding: 0 0 4% 0;" src="{% static '/icon/통신사.png' %}">
            </div>
            <div class="col-8">
               <img style="width: 40%; padding: 0 0 4% 0;" src="{% static '/icon/핸드폰번호.png' %}">
            </div>
           
          </div>

          <div class="row" style="padding: 0 0 17% 0 ;">
            <div class="col-4">
              <select name="agency" style="height: 110%;">
                <option value="SKT"> SKT </option>
                <option value="KT"> KT </option>
                <option value="LGU+"> LGU+ </option>
                <option value="알뜰폰"> 알뜰폰 </option>
              </select>
            </div>
            <div class="col-8">
              <input id="phone_number" style="height: 110%; width: 80%;" type="tel" name="phone_number" placeholder="  -제외하고 작성해주세요">
            </div>
          
          </div>

          </br>
          </br>
 <input style="width: 60%;border-style: solid;
    border-color: #732127; background-color: #732127;" class="btn btn-primary btn" type="submit" value="확인">   
        </form>
      </div>
    </div>
    </header>

 

   
    

   


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/agency.min.js' %}"></script>



  </body>

</html>
