{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko-kr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>싸요(SALE for YOU)</title>
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/table.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top"  style="background-color:#FFEDED;">

<header class="masthead" style="height: 100%;">


<div class="container-fluid" style="padding: 0px 0 0 0; text-align: center;
  color: white;
  background-image:url('../../static/bootstrap/img/background_top.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div class="row">
            <div class="col-3">
               <a href="{% url 'home' %}">
               <img style="margin-right: 0; width:100px; padding: 0 0 1% 0; " src="{% static '/icon/타이틀.png' %}"></a>
            </div>
            <div class="col">
            </div>

            <div class="col">
                <a href="{% url 'coupon' %}">
                  <div style="background-image:url('../../static/icon/쿠폰함.png'); background-size:100% 100%; background-position:center center; height: 20px; width: 65px; margin-right:0; margin-left:auto; background-color:#ffffff; padding: 0 0 75px 0;" >
                    <span style="color:#732127; display:inline-block; font-size:20px; line-height: 1; text-align:center; font-weight: 1000; margin: 15% 0 0 0">{{count}}</span>
                  </div>
                </a>
               </div>
            <div class="col">
                <a href="{% url 'menu' %}">
                 <div style="background-image:url('../../static/icon/메뉴2.png'); background-size:100% 100%; background-position:left center; height: 20px; width: 65px; margin-right:0; margin-left:10px; background-color:#ffffff; padding: 0 0 75px 0;" >
                  </div>
                </a>
            </div>  
        </div>
    </div>



    <hr style="display: block; height: 2px; border: 0;
    border-top: 3px solid #ccc;
    margin: -1px 1em 0; padding: 0; "> 

               <form action="{% url 'menu_choose' %}" method="post">       
      <div class="container">    
         <div class="intro-text" style="padding: 20% 0px 0px 0px;">
            <p  style="color:#732127; font-size:25px;" >먹고 싶은 종류 선택</p>
         </div>
        <div class="intro-text" style="padding: 20% 0px 0px 0px;">
             {% csrf_token %} 
          <input type="radio" name="category" id="choice1" value="한식" />
          <label for="choice1" style="color:#732127">한식</label>
          <input type="radio" name="category" id="choice2" value="중식" />
          <label for="choice2" style="color:#732127">중식</label>
          <input type="radio" name="category" id="choice3" value="일식" />
          <label for="choice3" style="color:#732127">일식</label>
          <input type="radio" name="category" id="choice4" value="양식" />
          <label for="choice4" style="color:#732127">양식</label>
          <input type="radio" name="category" id="choice5" value="분식" />
          <label for="choice5" style="color:#732127">분식</label>
          <input type="radio" name="category" id="choice6" value="주류" />
          <label for="choice6" style="color:#732127">주류</label>
        </div>
      </br>
       <div class="intro-text" style="padding: 20% 0px 0px 0px;">
      <input id="join" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color: #732127;   border-style: solid;
    border-color: #732127;" type="submit" value="확인">
  </div>
      </div>
</form>
</header>
   
    

   

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/agency.min.js' %}"></script>
<script type="text/javascript">
  var i = "{{i}}";

  if(i == 1){
    alert("쿠폰을 사용하셨습니다.");
  }
</script>
  </body>

</html>
